.ant-card {
  background-color: #f7f7f7;
  border: none;
  border-radius: 12px;
  padding: 16px;
  width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1920px) {
  .ant-card {
    width: 650px;
  }
}

@media (max-width: 1366px) {
  .ant-card {
    width: 550px;
  }
}

@media (max-width: 1024px) {
  .ant-card {
    width: 500px;
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .ant-card {
    width: 500px;
    padding: 10px;
  }

  .ant-typography {
    font-size: 14px;
  }

  .transfer-info {
    font-size: 12px;
  }

  .ant-card .ant-row {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .ant-card {
    width: 200px;
    padding: 8px;
  }

  .ant-typography {
    font-size: 12px;
  }

  .transfer-info {
    font-size: 10px;
  }
}
