.App {
  margin-top: 50px;
}

.App .search-container {
  margin: 0;
  width: 100%; 
  max-width: 600px; 
}

.App .flights-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  margin-top: 20px;
}

@media (max-width: 1366px) {
  .App .flights-container {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 1024px) {
  .App .flights-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .App .flights-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

@media (max-width: 320px) {
  .App .flights-container {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}
